body {
    background: #fafafa;
    color: #333333;
    margin-top: 2rem;
    overflow: hidden; 
  }

  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }

  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .base-timer {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 100px;
    height: 100px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill:none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }

  p.question {
    font-size: 18px;
    margin:auto;
    display:block;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0rem;
    font-weight: 500;
  }
/*
  label.choice{
    font-size: 18px;
    text-align: center;
    padding: 5px 15px 0px 15px;
  }

  input[type="radio"]{
    margin: 0 15px 0 15px;
    text-align: center;
    
  }

*/
  #button-container{
    text-align: right;
  }

  .positive-score, .positive-score-skip{
    color: green;
    font-size: 12px;
  }
  .negative-score{
    color: red;
    font-size: 12px;
  }

  p.positive-score, p.positive-score-skip, p.negative-score{
    margin: 0;
  }
  .vis-image{
    padding-top: 0cm;
    text-align: center;
    height: 500px; 
    width: 780px;
  }
  .familiarity-vis{
    padding-top: 0cm;
    text-align: center;
    height: 500px; 
    width: 740px;

  }
  #disp, #warning1, #warning2, #warning3{
    color: red;
  }

  .choice {
    margin-right: 3%;
  }
  .radio-input {
    margin-right: 3%;
  }
  div.options {
    display:inline;

  }
  div.options-feedback {
    display:block;

  }
  fieldset {
  text-align: center;
  }
  
  .InstructionSC-image{
    padding-top: 0cm;
    text-align: center;
    height: 560px; 
    width: 760px;
  }
  
  .InstructionN-image{
    padding-top: 0cm;
    text-align: center;
    height: 500px; 
    width: 790px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  

  .form-container{
	  background-color: #fff;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    border-radius: 8px;	
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


#StudyDescriptions-text, #StudyVisualisations-text, #ColourBlindType-text{
  width: 100%;
  height: 34px;
  display: none;

}

#instruction-update{
  margin-top: 100px;
}

#Next{
  text-align: right;
}

.investigators{

  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.rewards-instruction{
  color: red;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

